.main_container {
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color:#d7ecff;
	color: white;
}

.logo h1 {
	font-size: 1.5rem;
	color: rgb(30, 18, 18);
	margin: 0;
}

.nav_links {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav_links li {
	margin-left: 20px;
}

.nav_links li a {
	color: rgb(12, 11, 11);
	text-decoration: none;
	font-size: 1.1rem;
	transition: color 0.3s ease;
}

.nav_links li a:hover {
	color: #0000FF
	;
}

.logout_btn {
	background-color: #0d0d0d;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1rem;
	transition: background-color 0.3s ease;
}

.logout_btn:hover {
	background-color: #d32f2f;
}
