/* footer.module.css */
.footer {
    background-color: #F0FFFF; /* Darker background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerContent {
    max-width: 1200px; /* Limit the width */
    margin: 0 auto; /* Center the content */
}

.footerLink {
    color: #0a0a0a; /* White text for links */
    text-decoration: none; /* No underline */
}

.footerLink:hover {
    text-decoration: underline; /* Underline on hover */
}
